// Place all the styles related to the Secrets controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#secBox{
  padding:20px;
  background: rgba(171,211,229,.6);
  box-shadow: 3px 3px 10px #666666;
  border:1px solid #777777;
  overflow-y: auto;
  height: 600px;
  border-radius: 7px;
}
#secrets{
  font-size: 13px;
  // font-weight: bold;
  color:#333333;
}

#like{
  color:#999999;
  font-style: oblique;
  font-size: 12px;
  margin-left:10px;
}
#dashLink{
  text-align:center;
}
