// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#login{
    padding:20px;
    text-align: center;
    background: rgba(171,211,229,.6);
    box-shadow: 3px 3px 10px #666666;
    opacity:1;
    border:1px solid #777777;
    background-image: image();
    border-radius: 7px;
}
